# OS files
.DS_Store

# Local SDK path
local.properties

# Gradle and Kotlin local caches
.gradle/
.kotlin/

# Build outputs
build/
**/build/

# Android Studio / IntelliJ
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

app/src/main/java/ministudio/app/kinkakaku/BuildConfig.kt
app/release/
.idea/caches/deviceStreaming.xml
